<footer>
  <p><s>&copy;</s> {{ site.year }} <a href="/" title="{{ site.title }}">WTFe.dev</a> | {{ site.footerText }} | <strong>About me:</strong> 
  <a href="https://www.linkedin.com/in/girijeedigunta/" title="LinkedIn - Giri" target="_blank" style="margin-right: 10px;">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="LinkedIn" width="24" height="24" style="vertical-align:middle;">
  </a>
  <a href="https://github.com/giri-jeedigunta" title="GitHub - Giri" target="_blank">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" width="24" height="24" style="vertical-align:middle;">
  </a></p>
  <p>Disclaimer ⚠️ If you see "F" or "FE," it always means <strong>Frontend</strong>. Don’t let your imagination run wild.  My keyboard (and my brain) might switch between 'F' and 'FE' at will. 🤷‍♂️</p>
</footer>
