<footer>
  <p><s>&copy;</s> {{ site.year }} <a href="https://wtfe.dev" title="https://wtfe.dev">WTFe.dev</a> | {{ site.footerText }}</p>
  <p>Disclaimer ⚠️ If you see "F" or "FE," it always means <strong>Frontend</strong>. Don’t let your imagination run wild.  My keyboard (and my brain) might switch between 'F' and 'FE' at will. 🤷‍♂️</p>
</footer>
