<footer>
  <p><s>&copy;</s> {{ site.year }} <a href="/" title="{{ site.title }}">WTFe.dev</a> | {{ site.footerText }} | <strong>About me: 
  <a href="https://www.linkedin.com/in/girijeedigunta/" title="LinkedIn - Giri" target="_blank">LinkedIn</a> | <a href="https://github.com/giri-jeedigunta" title="GitHub - Giri" target="_blank">Github</a></strong></p>
  <p>Disclaimer ⚠️ If you see "F" or "FE," it always means <strong>Frontend</strong>. Don’t let your imagination run wild.  My keyboard (and my brain) might switch between 'F' and 'FE' at will. 🤷‍♂️</p>
</footer>
