<!DOCTYPE html>
<html lang="{{ site.lang | default('en') }}" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}{% if title %} | {{ title }}{% endif %}</title>

  <link rel="preload" href="/assets/fonts/Recursive_VF_1.085--subset_range_english_basic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/ranchers-v17-latin-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">

  <meta name="description" content="{{ description | default(site.description) }}">
  <meta name="author" content="{{ site.author }}">
  <meta property="og:title" content="{% if title %}{{ title }} | {% endif %}{{ site.title }}">
  <meta property="og:description" content="{{ description | default(site.description) }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="icon" type="image/png" href="/assets/images/favicon.ico">
</head>
<body>
  {% include "components/header.njk" %}

  <main>
    <div class="main-container">
    {{ content | safe }}
    </div>
  </main>

  {% include "components/footer.njk" %}
</body>
</html>