---
layout: layouts/base.njk
---

<article class="posts-wrapper">
  <time datetime="{{ date | dateToISO }}">{{ date | readableDate }}</time>

  {{ content | safe }}

  <hr />
  {% set discussionLink = "https://github.com/WTFe-dev/whatthefe/discussions/new?category=wtfe-dev-posts&title=" + title %}
  <h2>Join the discussion:</h2>
  <p><strong>Got thoughts on this post or anything else in the WTFe universe? 🤔</strong> I’m all ears and would love to hear from you! 😎 <a class="move-left-2px" href="{{ discussionLink }}" title="Join the discussion on WTFe.dev Github" target="_blank">Let's discuss</a></p>

  <hr />
  <h2>Tags</h2>
  <p class="tags-wrapper">
      {% if tags %}
          {% for tag in tags %}
            {% if tag != "posts" %}
              <a href="/tags/{{ tag }}" title="Posts on #{{ tag }}">#{{ tag }}</a>
            {% endif %}
          {% endfor %}
      {% endif %}
  </p>
</article>