---
layout: layouts/base.njk
---

<article class="posts-wrapper">
  <time datetime="{{ date | dateToISO }}">{{ date | readableDate }}</time>

  {{ content | safe }}

  <hr />
  <h2>Tags</h2>
  <p>
      {% if tags %}
        <span>
          {% for tag in tags %}
            {% if tag != "posts" %}
              <a href="{{ tag | withPrefix }}">#{{ tag }}</a>
            {% endif %}
          {% endfor %}
        </span>
      {% endif %}
  </p>
</article>