---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "tags/{{ tag | slug }}/index.html"
layout: layouts/base.njk
title: "Tag: {{ tag }}"
---

<h1>Posts tagged "{{ tag }}"</h1>
<ul>
  {% for post in collections.all | filterTag(tag) %}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
  {% endfor %}
</ul>
